<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Input Date</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">WYPOŻYCZALNIA SAMOCHODÓW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservation}">Rezerwacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client}">Klienci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/car}">Auta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1>Szukaj auta</h1>
    <!--/*@thymesVar id="reservation" type="java"*/-->
    <form  role="form" th:object="${reservation}" th:action="@{/reservation/add}" method="get">

        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="col-md-10 mt-5">
<!--                    10 rozszerza pole a 5 daje padding-->
                    <label>Rezerwacja od:</label>
                    <div class="input-group date">
                     <input type="Date" class="form-control" name="startDate"
                               placeholder="Data rezerwacji"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="col-md-10 mt-5">
                    <label>Rezerwacja do:</label>
                    <div class="input-group date">
                        <input type="Date" class="form-control" name="endDate"
                               placeholder="Data rezerwacji"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="col-md-4 mt-4">
                    <button class="btn btn-primary" type="submit">Szukaj auta</button>
                </div>
            </div>
        </div>


    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!--<script>-->
<!--    $('.input-group.date').datepicker({-->
<!--        autoclose: true,-->
<!--        todayHighlight: true,-->
<!--        format: "yyyy-MM-dd"-->
<!--    });-->
<!--</script>-->

</body>
</html>