<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa reserwacja</title>
</head>
<body>
<h1>Nowa rezerwacja</h1>

<form role="form" th:object="${reservation}" th:action="@{/reservation/add}" method="post">

    <div>
        <input type="date" id="dateDefault" name="reservationCreateDate" placeholder="Data rezerwacji" />
    </div>

    <div>
        <input type="date" name="reservationDateStart" th:value="${reservation.reservationDateStart}"  placeholder="Data rozpoczęcia rezerwacji"  />

    </div>

    <div>
        <input type="date" name="reservationDateEnd"  th:value="${reservation.reservationDateEnd}" placeholder="Data zakończenia rezerwacji" />
    </div>

    <div>
        <input type="text" name="clientId" placeholder="Id klienta" />
    </div>

    <div>
        <input type="text" name="carId" placeholder="Id samochodu" />
    </div>

    <div>
        <input type="text" name="reservationCost" placeholder="Koszt rezerwacji" />
    </div>


        <input type="submit" value="Zapisz">
</form>

<!-- aktualna data rezerwacji-->
<script>
    function setInputDate(_id){
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth()+1,
            y = hoy.getFullYear(),
            data;

        if(d < 10){
            d = "0"+d;
        };
        if(m < 10){
            m = "0"+m;
        };

        data = y+"-"+m+"-"+d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
</script>
</body>
</html>