<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Input Date</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">WYPOŻYCZALNIA SAMOCHODÓW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservation}">Rezerwacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client}">Klienci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/car}">Auta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Potwierdzenie rezerwacji</h2>
    </div>

    <form role="form" th:object="${reservationSummary}" th:action="@{/reservation/add/booking}" method="POST">

        <div class="d-flex justify-content-center align-items-center mt-4">

            <div class="col-md-4">
                <!--                    10 rozszerza pole a 5 daje padding-->
                <label>Data rezerwacji:</label>
                <div class="input-group date">
                    <input type="Date" id="dateDefault" class="form-control" name="reservationCreateDate"
                           placeholder="Data rezerwacji" disabled/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>


            <div class="col-md-4" >
                <label>Rezerwacja od:</label>
                <div class="input-group date">
                    <input type="Date" class="form-control" name="reservationDateStart"
                           placeholder="Data rozpoczęcia rezerwacji" th:value="${reservationSummary.reservationDateStart}" disabled/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4" >
                <label>Rezerwacja do:</label>
                <div class="input-group date">
                    <input type="Date" class="form-control" name="reservationDateEnd" placeholder="Data zakończenia rezerwacji" th:value="${reservationSummary.reservationDateEnd}" disabled/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">

            <div class="col-md-4">
                <!--                    10 rozszerza pole a 5 daje padding-->
                <label>Numer klienta:</label>
                <div class="input-group date">
                    <input class="form-control" type="text" name="clientId" placeholder="Id klienta" />
                </div>
            </div>


            <div class="col-md-4" >
                <label>Numer samochodu:</label>
                <div class="input-group date">
                    <input class="form-control" type="text" name="carId" placeholder="Id samochodu" th:value="${reservationSummary.car.id}" disabled/>

                </div>
            </div>

            <div class="col-md-4" >
                <label>Koszt całkowity [PLN]:</label>
                <div class="input-group date">
                    <input class="form-control" type="text" name="reservationCost" placeholder="Koszt rezerwacji" th:value="${reservationSummary.reservationCost}" disabled/>

                </div>
            </div>

        </div>

<!--<div class="container mt-4">-->
<!--    <h1>Booking</h1>-->
<!--    <form role="form" th:object="${reservationSummary}" th:action="@{/reservation/add}" method="post">-->

<!--        <div>-->
<!--            <input type="date" id="dateDefault" name="reservationCreateDate" placeholder="Data rezerwacji"/>-->
<!--        </div>-->

<!--        <div>-->
<!--            &lt;!&ndash;        podanie th:value czyli wskazanie na odpowiednie pole do przesyłu&ndash;&gt;-->
<!--            <input type="date" name="reservationDateStart1" th:value="${reservationSummary.reservationDateStart}"-->
<!--                   placeholder="Data rozpoczęcia rezerwacji"/>-->

<!--        </div>-->

<!--        <div>-->
<!--            <input type="date" name="reservationDateEnd1" th:value="${reservationSummary.reservationDateEnd}"-->
<!--                   placeholder="Data zakończenia rezerwacji"/>-->
<!--        </div>-->

<!--        <div>-->
<!--            <input type="text" name="clientId" placeholder="Id klienta"  />-->
<!--        </div>-->

<!--        <div>-->
<!--            <input type="text" name="carId" placeholder="Id samochodu" th:value="${reservationSummary.car.id}" />-->
<!--        </div>-->

<!--        <div>-->
<!--            <input type="text" name="reservationCost" placeholder="Koszt rezerwacji" th:value="${reservationSummary.reservationCost}"  />-->
<!--        </div>-->
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="align-items-center col-md-3 mt-3">

                <input class="btn btn-block mybtn btn-primary tx-tfm"  type="submit" value="Potwierdzam">

            </div>
        </div>

    </form>

<!--</div>-->

<!-- aktualna data rezerwacji-->
<script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        }
        ;
        if (m < 10) {
            m = "0" + m;
        }
        ;

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
</script>

</body>
</html>